<html>
    <head>
        <title>Home</title>
        <link rel='stylesheet' href='reset.css'>
        <link rel='stylesheet' href='login_view.css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id='login'>
            <h1>Login</h1>
            <form name='login' method='POST' action='/attempt_login'>
                <input name='username' type='text'>
                <input name='password' type='password'>
                <input type='submit' value='Login'>
            </form>
        </div>
    </body>
</html>
