{% extends 'global/base.html' %}
  {% block header %}
    <div id='header'>
      <h1>{{ name }}</h1>
      <p class='desc'>{{ description }}</p>
    </div>
  {% endblock %}
  {% block main %}
    <div class='main'>
      <div class='login'>
        <h2>Login</h2>
        <form name='login' method='POST' action='/attempt_login'>
          <input name='username' type='text' placeholder='username'> <br>
          <input name='password' type='password' placeholder='password'> <br>
          <input type='submit' value='Login'>
          <a href='/register'><p class='register'>OR REGISTER</p></a>
        </form>
      </div>
    </div>
  {% endblock %}
  </body>
</html>
