<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <div class='register'>
      <h2>Register</h2>
      <form name='registration' method='POST' action='/attempt_register'>
        <input type='text' name='username' placeholder='username'><br/>
        <input type='password' name='password' placeholder='password'><br/>
        <input type='password' name='verify-password' placeholder='verify password'><br/>
        <input type='submit' value='register'>
      </form>
    </div>
  </body>
</html>
